{% if has_permissions() %}
    {# rename button #}
    {#<a href="">#}
        {#<i class="glyphicon glyphicon-edit"></i>#}
    {#</a>#}
    {# delete button #}
    <a class="delete_element" href="#" data-href="{{ url('filemanager_actions', {'action' : 'delete', 'target' : directory.id }) }}">
        <i class="glyphicon glyphicon-trash"></i>
    </a>
    {# permissions control #}
    <a data-toggle="modal" data-target="#modal_permissions" href="{{ url('filemanager_folder_permissions', {'id' : directory.id}) }}">
        <i class="glyphicon glyphicon-lock"></i>
    </a>
{% endif %}