<a href="{{ url('filemanager_actions', {'action' : 'rename-file', 'id' : file.id}) }}"><i class="glyphicon glyphicon-edit"></i></a>
<a class="delete_element" href="#" data-href="{{ url('filemanager_actions', {'action' : 'delete-file', 'id' : file.id}) }}"><i class="glyphicon glyphicon-trash"></i></a>